syntax: glob

*.pyc
a.out
functional-tests/expected-generated-list-for-bzip2-archive/expected-generated-list-for-bzip2-archive.list
functional-tests/expected-generated-list-for-gzip-archive/expected-generated-list-for-gzip-archive.list
functional-tests/expected-generated-list-for-tar-archive/expected-generated-list-for-tar-archive.list
functional-tests/expected-generated-list-for-tree/expected-generated-list-for-tree.list
functional-tests/expected-generated-list-for-zip-archive/expected-generated-list-for-zip-archive.list
functional-tests/generate-list-and-parse-bzip2-archive/generate-list-and-parse-bzip2-archive.list
functional-tests/generate-list-and-parse-gzip-archive/generate-list-and-parse-gzip-archive.list
functional-tests/generate-list-and-parse-tar-archive/generate-list-and-parse-tar-archive.list
functional-tests/generate-list-and-parse-tree/generate-list-and-parse-tree.list
functional-tests/generate-list-and-parse-zip-archive/generate-list-and-parse-zip-archive.list
functional-tests/generate-list-from-bzip2-archive/generate-list-from-bzip2-archive.list
functional-tests/generate-list-from-gzip-archive/generate-list-from-gzip-archive.list
functional-tests/generate-list-from-tar-archive/generate-list-from-tar-archive.list
functional-tests/generate-list-from-tree/generate-list-from-tree.list
functional-tests/generate-list-from-zip-archive/generate-list-from-zip-archive.list
functional-tests/generate-list-from-xz-archive/generate-list-from-xz-archive.list
functional-tests/generate-list-and-parse-xz-archive/generate-list-and-parse-xz-archive.list
tests/generatelistforgzip_private_methods/mygzip.list
tests/generatelistfortar_private_methods/mytar.list
tests/generatelistfortree_private_methods/mydir.list
tests/generatelistforzip_private_methods/myzip.list
tests/generatelistfortree_private_methods/mydir/bar.list
tests/generatelistfortree_private_methods/mydir/foo.list
tests/generatelistfortree_private_methods/mydir/oof.list
functional-tests/generate-list-changing-default-separator/bzip2/generate-list-changing-default-separator-for-bzip2.list
functional-tests/generate-list-changing-default-separator/gzip/generate-list-changing-default-separator-for-gzip.list
functional-tests/generate-list-changing-default-separator/tar.bz2/generate-list-changing-default-separator-for-tar-bz2.list
functional-tests/generate-list-changing-default-separator/tar.gz/generate-list-changing-default-separator-for-tar-gz.list
functional-tests/generate-list-changing-default-separator/tar.xz/generate-list-changing-default-separator-for-tar-xz.list
functional-tests/generate-list-changing-default-separator/tree/generate-list-changing-default-separator-for-tree.list
functional-tests/generate-list-changing-default-separator/zip/generate-list-changing-default-separator-for-zip.list
functional-tests/generate-list-and-parse-tbz-archive/generate-list-and-parse-tbz-archive.list
functional-tests/wrong-file-type-l-in-tree/wrong-file-type-l-in-tree/bar
functional-tests/wrong-file-type-l-in-tree/wrong-file-type-l-in-tree/foo
functional-tests/generate-list-and-parse-tbz2-archive/generate-list-and-parse-tbz2-archive.list
functional-tests/generate-list-and-parse-tgz-archive/generate-list-and-parse-tgz-archive.list
functional-tests/generate-conf-and-file-list-tar-gz/conf.conf
functional-tests/generate-conf-and-file-list-tar-gz/generate-conf-and-file-list-tar-gz.conf
functional-tests/generate-conf-and-file-list-tar-gz/generate-conf-and-file-list-tar-gz.list
functional-tests/generate-conf-and-file-list-tar-bz2/conf.conf
functional-tests/generate-conf-and-file-list-tar-bz2/generate-conf-and-file-list-tar-bz2.conf
functional-tests/generate-conf-and-file-list-tar-bz2/generate-conf-and-file-list-tar-bz2.list
functional-tests/generate-conf-and-file-list-tar-xz/conf.conf
functional-tests/generate-conf-and-file-list-tar-xz/generate-conf-and-file-list-tar-xz.conf
functional-tests/generate-conf-and-file-list-tar-xz/generate-conf-and-file-list-tar-xz.list
functional-tests/generate-conf-and-file-list-tar/generate-conf-and-file-list-tar.conf
functional-tests/generate-conf-and-file-list-tar/generate-conf-and-file-list-tar.list
functional-tests/generate-conf-and-file-list-tar/conf.conf
functional-tests/generate-conf-and-file-list-zip/conf.conf
functional-tests/generate-conf-and-file-list-zip/generate-conf-and-file-list-zip.conf
functional-tests/generate-conf-and-file-list-zip/generate-conf-and-file-list-zip.list
functional-tests/generate-conf-and-file-list-bz2/conf.conf
functional-tests/generate-conf-and-file-list-bz2/generate-conf-and-file-list-bz2.conf
functional-tests/generate-conf-and-file-list-bz2/generate-conf-and-file-list-bz2.list
functional-tests/generate-conf-and-file-list-gz/conf.conf
functional-tests/generate-conf-and-file-list-gz/generate-conf-and-file-list-gz.conf
functional-tests/generate-conf-and-file-list-gz/generate-conf-and-file-list-gz.list
functional-tests/generate-conf-and-file-list-xz/conf.conf
functional-tests/generate-conf-and-file-list-xz/generate-conf-and-file-list-xz.conf
functional-tests/generate-conf-and-file-list-xz/generate-conf-and-file-list-xz.list
functional-tests/generate-conf-and-file-list-tree/conf.conf
functional-tests/generate-conf-and-file-list-tree/generate-conf-and-file-list-tree.conf
functional-tests/generate-conf-and-file-list-tree/generate-conf-and-file-list-tree.list
functional-tests/check-mtime-tar/check-mtime-tar.list
functional-tests/check-mtime-tree/check-mtime-tree.conf
functional-tests/check-mtime-tree/check-mtime-tree.list
functional-tests/check-mtime-zip/check-mtime-zip.list
.coverage
tests/listtype/mybz2.conf
tests/listtype/mybz2.list
tests/listtype/mygzip.conf
tests/listtype/mygzip.list
tests/listtype/mylzma.conf
tests/listtype/mylzma.list
tests/listtype/mytargz.conf
tests/listtype/mytargz.list
tests/listtype/mytree.conf
tests/listtype/mytree.list
tests/listtype/myzip.conf
tests/listtype/myzip.list
functional-tests/generate-apk-conf-files/generate-apk-conf-files.list
functional-tests/custom-conf-filelist-bzip2/both/custom-conf-filelist-bzip2.conf
functional-tests/custom-conf-filelist-bzip2/both/custom-conf-filelist-bzip2.list
functional-tests/custom-conf-filelist-bzip2/conf/custom-conf-filelist-bzip2.conf
functional-tests/custom-conf-filelist-bzip2/custom-conf-filelist-bzip2.conf
functional-tests/custom-conf-filelist-bzip2/custom-conf-filelist-bzip2.list
functional-tests/custom-conf-filelist-bzip2/list/custom-conf-filelist-bzip2.list
functional-tests/custom-conf-filelist-gzip/both/custom-conf-filelist-gzip.conf
functional-tests/custom-conf-filelist-gzip/both/custom-conf-filelist-gzip.list
functional-tests/custom-conf-filelist-gzip/conf/custom-conf-filelist-gzip.conf
functional-tests/custom-conf-filelist-gzip/custom-conf-filelist-gzip.conf
functional-tests/custom-conf-filelist-gzip/custom-conf-filelist-gzip.list
functional-tests/custom-conf-filelist-gzip/list/custom-conf-filelist-gzip.list
functional-tests/custom-conf-filelist-lzma/both/custom-conf-filelist-lzma.conf
functional-tests/custom-conf-filelist-lzma/both/custom-conf-filelist-lzma.list
functional-tests/custom-conf-filelist-lzma/conf/custom-conf-filelist-lzma.conf
functional-tests/custom-conf-filelist-lzma/custom-conf-filelist-lzma.conf
functional-tests/custom-conf-filelist-lzma/custom-conf-filelist-lzma.list
functional-tests/custom-conf-filelist-lzma/list/custom-conf-filelist-lzma.list
functional-tests/custom-conf-filelist-tar/both/custom-conf-filelist-tar.conf
functional-tests/custom-conf-filelist-tar/both/custom-conf-filelist-tar.list
functional-tests/custom-conf-filelist-tar/conf/custom-conf-filelist-tar.conf
functional-tests/custom-conf-filelist-tar/custom-conf-filelist-tar.conf
functional-tests/custom-conf-filelist-tar/custom-conf-filelist-tar.list
functional-tests/custom-conf-filelist-tar/list/custom-conf-filelist-tar.list
functional-tests/custom-conf-filelist-tree/both/custom-conf-filelist-tree.conf
functional-tests/custom-conf-filelist-tree/both/custom-conf-filelist-tree.list
functional-tests/custom-conf-filelist-tree/conf/custom-conf-filelist-tree.conf
functional-tests/custom-conf-filelist-tree/custom-conf-filelist-tree.conf
functional-tests/custom-conf-filelist-tree/custom-conf-filelist-tree.list
functional-tests/custom-conf-filelist-tree/list/custom-conf-filelist-tree.list
functional-tests/custom-conf-filelist-zip/both/custom-conf-filelist-zip.conf
functional-tests/custom-conf-filelist-zip/both/custom-conf-filelist-zip.list
functional-tests/custom-conf-filelist-zip/conf/custom-conf-filelist-zip.conf
functional-tests/custom-conf-filelist-zip/custom-conf-filelist-zip.conf
functional-tests/custom-conf-filelist-zip/custom-conf-filelist-zip.list
functional-tests/custom-conf-filelist-zip/list/custom-conf-filelist-zip.list
functional-tests/hashtype-option/bzip2/hashtype-option.conf
functional-tests/hashtype-option/bzip2/hashtype-option.list
functional-tests/hashtype-option/gzip/hashtype-option.conf
functional-tests/hashtype-option/gzip/hashtype-option.list
functional-tests/hashtype-option/lzma/hashtype-option.conf
functional-tests/hashtype-option/lzma/hashtype-option.list
functional-tests/hashtype-option/tar-gz/hashtype-option.conf
functional-tests/hashtype-option/tar-gz/hashtype-option.list
functional-tests/hashtype-option/tree/hashtype-option.conf
functional-tests/hashtype-option/tree/hashtype-option.list
functional-tests/hashtype-option/zip/hashtype-option.conf
functional-tests/hashtype-option/zip/hashtype-option.list
functional-tests/exceptions-file-option/tar-gz/exceptions-file-option.conf
functional-tests/exceptions-file-option/tar-gz/exceptions-file-option.list
functional-tests/exceptions-file-option/zip/exceptions-file-option.conf
functional-tests/exceptions-file-option/zip/exceptions-file-option.list
functional-tests/exceptions-file-option/bzip2/exceptions-file-option.conf
functional-tests/exceptions-file-option/bzip2/exceptions-file-option.list
functional-tests/exceptions-file-option/gzip/exceptions-file-option.conf
functional-tests/exceptions-file-option/gzip/exceptions-file-option.list
functional-tests/exceptions-file-option/lzma/exceptions-file-option.conf
functional-tests/exceptions-file-option/lzma/exceptions-file-option.list
functional-tests/exceptions-file-option/tree/exceptions-file-option.conf
functional-tests/exceptions-file-option/tree/exceptions-file-option.list
